// @import './variables.scss';
@use './global.scss';

.typography {
    font-size: 30px;
    color: green;
}

.nav {
    // .nav__list {
    //     .nav__item {
    //         .nav__link {

    //         }
    //     }
    // }
    &__link {
        background-color: hotpink;
        @extend .typography;
    }

    &__list {
        background-color: global.$secondary-color;
        @include global.center-horizontal;
        list-style: none;
        @media screen and (max-width: global.$sm) {
            //blok kodu
            list-style: none;
        }

        @media screen and (max-width: global.$md) {
            //blok kodu
        }
        
        @media screen and (max-width: global.$lg) {
            //blok kodu
        }
    }

    &__item {
        background-color: aqua;
        margin: global.margin(10);

        &:hover {
            background-color: red;
        }
    }
}

.item-box {
    height: 100px;
    width: 100px;
    background-color: #f0f;
    margin-bottom: 20px;
}

.item-box:nth-child(odd) {
    background-color: #ff0;
}


@for $item from 1 to 7 {
    // @debug $item;
    .item-box:nth-child(#{$item}) {
        @if $item == 3 {
            background-color: red;
            @warn "tu jest błąd";
        }
        margin-bottom: $item * 10px;
    }
}



$secondary-color: #333;

@mixin center-horizontal {
    text-align: center;
    background-color: aqua;
}

@mixin change-to-column {
    @media screen and (max-width: 991px) {
        flex-direction: column;
    }
}

nav {
    color: $secondary-color;
    @include center-horizontal;
    // background-color: #ffff00;
    
    ul {
        display: flex;
        // @include change-to-column;


        li {
            padding: 20px;
            width: 100px;
            @include center-horizontal;
        }
    }
}