$my-variable: 90px;
$primary-color: #333;
$secondary-color: #00f;
$color-black: #000;
$color-white: #fff;

$sm: 576px;
$md: 768px;
$lg: 991px;
$xlg: 1200px;

@mixin center-horizontal {
    text-align: center;
    background-color: aqua;
}

@function margin($size) {
    $multiply: 4px;

    @return $size * $multiply;
}