// skladnia sass
@import 'variables'

=center-horizontal
    text-align: center
    background-color: aqua

nav
    color: $secondary-color
    background-color: #ffff00
    +center-horizontal
    width: 5px + 10px
    

    ul
        display: flex

        li
            padding: 20px


































p
    // mamy możliwość definiowania zmiennych lokalnych
    // $primary-color: green !global
    // color: $secondary-color
    // background-color: $primary-color
    //wywolanie zmiennej
    // height: $my-variable
    //interpolacja zmiennej
    // width: calc(#{$my-variable} - 20px)

h1
    // background-color: $primary-color
