:root {
    /* definicja zmiennej w czystym CSS */
    /* --my-own-variable: darkgrey; */
}

body {
    /* metoda w css do wykonywania prostych działań arytmetycznych */
    /* height: calc(100vh - 400px); */
    /* background-color: darkcyan; */
    background-color: #888;
}

/* body:hover {
    background-color: blue;
} */

p {
    background-color: yellow;
}

p {
    background-color: yellow;
}

.box {
    height: calc(400px - 100px);
    width: 100px;
    background-color: darkblue;
}