.typography, .nav__link {
  font-size: 30px;
  color: green;
}

.nav__link {
  background-color: hotpink;
}
.nav__list {
  background-color: #00f;
  text-align: center;
  background-color: aqua;
  list-style: none;
}
@media screen and (max-width: 576px) {
  .nav__list {
    list-style: none;
  }
}
.nav__item {
  background-color: aqua;
  margin: 40px;
}
.nav__item:hover {
  background-color: red;
}

.item-box {
  height: 100px;
  width: 100px;
  background-color: #f0f;
  margin-bottom: 20px;
}

.item-box:nth-child(odd) {
  background-color: #ff0;
}

.item-box:nth-child(1) {
  margin-bottom: 10px;
}

.item-box:nth-child(2) {
  margin-bottom: 20px;
}

.item-box:nth-child(3) {
  background-color: red;
  margin-bottom: 30px;
}

.item-box:nth-child(4) {
  margin-bottom: 40px;
}

.item-box:nth-child(5) {
  margin-bottom: 50px;
}

.item-box:nth-child(6) {
  margin-bottom: 60px;
}

nav {
  color: #333;
  text-align: center;
  background-color: aqua;
}
nav ul {
  display: flex;
}
nav ul li {
  padding: 20px;
  width: 100px;
  text-align: center;
  background-color: aqua;
}

/*# sourceMappingURL=output_scss.css.map */
